@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primario: #1e40af;     
  --color-secundario: #f59e0b;   
  --color-fondo: #f9fafb; 

  --fuente-inter: 'Inter', sans-serif;
  --fuente-instrument: 'Instrument Serif', serif;
}


.cursiva {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-weight: 400;
}

.titulo {
  font-family: var(--fuente-inter);
  font-weight: 500;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: -0.05em;
  line-height: 0.8;
}

.subtitulo {
  font-family: var(--fuente-inter);
  font-weight: 400;
  letter-spacing: -0.02rem;
}

.shows-items {
  font-family: var(--fuente-inter);
  font-weight: 500;
}

.inter {
  font-family: var(--fuente-inter);
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 25px !important;        
  background: #ffffff;
  opacity: 1;
  border-radius: 50%;
  transition: 0.5s;
}

.swiper-pagination-bullet-active {
  background: #ff4500;              
  opacity: 1;
  transform: scale(1.3);
}

.custom-pagination {
  position: absolute;
  left: 50% !important;
  bottom: 40px !important;       
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;  
  pointer-events: none; 
}

@media (min-width: 768px) {
  .titulo {
    font-size: 4rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .titulo {
    font-size: 4.5rem;
  }
}

@media (min-width: 1280px) {
  .titulo {
    font-size: 5rem;
  }
}


